.topnav {
	background-color: #333;
	overflow: hidden;
}

.topnav a {
	float: left;
	color: #f2f2f2;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	font-size: 17px;
}

.topnav a:hover {
	background-color: #ddd;
	color: black;
}

.topnav a.active {
	background-color: #4CAF50;
	color: white;
}

#my-input-list textarea {
	min-height: 150px;
	width: 100%;
}

#my-input-list {
	float: left;
	width: 50%;
}

#my-upload {
	float: left;
	width: 50%;
}

#success-popup {
	display: none;
	position: fixed;
	z-index: 2000;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: rgb(0,0,0);
	background-color: rgba(0,0,0,0.4);
}

#success-container {
	background-color: #f0f0f0;
	margin: 15% auto;
	padding: 20px;
	border: 1px solid #555;
	width: 80%;
	max-height: 400px;
	overflow-y: auto;
}

#save-container, #load-container, #deploy-container {
	background-color: #f0f0f0;
	margin: 15% auto;
	padding: 20px;
	border: 1px solid #555;
	width: 300px;
	max-height: 400px;
	overflow-y: auto;
}

#save-popup {
	display: none;
	position: fixed;
	z-index: 2000;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: rgb(0,0,0);
	background-color: rgba(0,0,0,0.4);
}

#load-popup {
	display: none;
	position: fixed;
	z-index: 2000;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: rgb(0,0,0);
	background-color: rgba(0,0,0,0.4);
}

#filename-select {
	min-width: 200px;
}

#deploy-popup {
	display: none;
	position: fixed;
	z-index: 2000;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: rgb(0,0,0);
	background-color: rgba(0,0,0,0.4);
}

.close {
	color: #aaa;
	float: right;
	font-size: 28px;
	font-weight: bold;
}

.close:hover,
.close:focus {
	color: black;
	text-decoration: none;
	cursor: pointer;
}

.hide {
	display: none;
}

.btn {
	background-color: #4CAF50;
	color: white;
	padding: 8px 20px;
	border: none;
	cursor: pointer;
	margin: 10px;
	opacity: 0.8;
}

.div-right {
	display: block;
	margin-right: 0;
	margin-left: auto;
}
